@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.page-container {
  width: 100%;
  align-items: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

.about-card-container {
  display: grid;
  grid-template-columns: 66% 33%;
  /* background-color: #8da47e; */
}
.about-component {
  background-color: #8da47e;
  color: #8da47e;
  box-shadow: 1px 0px 20px 1px grey;
}
.about-title {
  height: 20%;
  width: 20%;
  vertical-align: top;
  align-self: left;
  margin-left: 5%;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url("images/mentors/mentor-pic2.jpg");
  width: 80%;
  height: 400px;
  background-size: cover;
  color: white;
  padding: 20px;
}
.inner-border {
  background-color: #d7ecd9;
  height: 95%;
  width: 95%;
}
.about-paragraph {
  padding: 5%;
}

p {
  text-align: left;
  margin: 5%;
}
