
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;300&display=swap");

.about-container {
  display: grid;
  flex: 0 auto;
  margin: 10px;
  background-position: center;
  text-align: left;
  display: inline-flex;
  text-transform: uppercase;
  background-color: #8da47e;
  color: aliceblue;
  width: 70%;
  padding: 60px;
  column-gap: 5px;
  row-gap: 5px;
  border-radius: 5px;
  margin-bottom: 3px;

  font-family: "Montserrat", sans-serif;
}
.grid-item {
  background-color: #d7ecd9;
  border: 1px solid #d9d7ec;
  width: 40%;
  display: inline-flex;
  padding: 100px;
  font-size: 10px;
  color: black;
  text-align: left;
  text-transform: lowercase;
  border-radius: 25px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.about-component {
  background-color: #8da47e;
  color: #8da47e;
  box-shadow: 1px 0px 20px 1px grey;
  margin: 3%;
  width: 95%;
}
.about-title {
  height: 250px;
  font-family: "Julius Sans One";
  font-size: 100%;
  width: 80%;
  margin: 0% 5%;
  background-image: linear-gradient(
      to right,
      rgba(3, 3, 3, 100),
      rgba(66, 66, 66, 0.01)
    ),
    url("\mentor-pic2.jpg");
  height: full;
  width: auto;
  background-size: cover;
  color: white;
  padding: 20px;
  margin: 0px;
}

.card-div {
  margin: 5%;
}
/* .about-title {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.73)),
    url("\mentor-pic2.jpg");
  width: 80%;
  height: 400px;
  background-size: cover;
  color: white;
  padding: 20px;
} 

.inner-border {
  background-color: #d7ecd9;
  height: 95%;
  width: 95%;
}
.about-paragraph {
  padding: 5%;
}

p {
  text-align: left;
  margin: 5%; 
.grid-item5 {
  background-color: rgba(500, 400, 300, 0.8);
  border: 5px solid rgba(0, 0, 0, 0.8);
  padding: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 5px;
}
.end-box {
  display: grid;

  background-color: #ed4e39;
  padding: 10px;
  column-gap: 10px;
  row-gap: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
 @import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;300&display=swap"); 

.page-container {
  display: grid;
  width: 100%;
  align-items: flex-start;
  margin: auto;
  font-family: "Montserrat";
  grid-template-columns: 25% 40% 35%;
}

/* background-color: #8da47e; */
.mission-statement {
  color: #8da47e;
  font-weight: bold;
  font-style: italic;
  font-size: 100%;
  padding: 5% 5% 0% 5%;
}

.about-component {
  background-color: #8da47e;
  color: #8da47e;
  box-shadow: 1px 0px 20px 1px grey;
  margin: 3%;
  width: 95%;
}
.about-title {
  height: 250px;
  font-family: "Julius Sans One";
  font-size: 100%;
  width: 80%;
  margin: 0% 5%;
  /* background-image: linear-gradient(
      to right,
      rgba(3, 3, 3, 100),
      rgba(66, 66, 66, 0.01)
    ),
    url("\mentor-pic2.jpg");
  height: full;
  width: auto;
  background-size: cover;
  color: white;
  padding: 20px;
  margin: 0px; */
}

.card-div {
  margin: 5%;
}
/* .about-title {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.73)),
    url("\mentor-pic2.jpg");
  width: 80%;
  height: 400px;
  background-size: cover;
  color: white;
  padding: 20px;
} */
.inner-border {
  background-color: #d7ecd9;
  height: 95%;
  width: 95%;
}
.about-paragraph {
  padding: 5%;
}

p {
  text-align: left;
  margin: 5%;
}
