@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One:wght@600&display=swap");

.directory-menu {
  /* display: block; */
  width: full;
  background-color: rgba(256, 256, 256, 0.95);
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  justify-content: center;
  box-shadow: 1px 0px 20px 1px grey;

  /* justify-content: space-between; */
}
.fields h4 {
  display: inline;
}
#card-div-title {
  font-family: "Julius Sans One";
  /* color: #8da47e; */
  color: black;
  font-size: 130%;
  background-color: #d7ecd9;
  padding: 2%;
  margin: 5%;
  box-shadow: 1px 0px 20px 1px grey;
}
