.nav {
  display: block;
  object-position: top;
  height: 100px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(235, 235, 235);
  display: inline-flex;
  line-height: 100px;
}
ul {
  float: left;
  text-decoration: none;
  list-style-type: none;
  line-height: 45px;
  padding: 0 25px;
  margin-bottom: 40px;
}
li {
  float: left;
  display: inline-flex;
  padding: 0 10px;
  line-height: 45px;
  margin-bottom: 50px;
}

h1 {
  display: inline-flex;
  padding: 0 10px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 50px;
}
h2 {
  display: inline-flex;
  padding: 0 10px;
  font-weight: 100;
  line-height: 35px;
  margin-bottom: 50px;
}
input {
  float: right;
  border: 1px solid darkgray;
  margin-top: 30px;

  margin-left: 180px;
  height: 32px;
  width: 200px;
  border-radius: 8px;
}
.nav button {
  border-color: darkgray;
  background-color: white;
  box-shadow: darkgray;
  float: top;
  border-width: 2px;
  height: 40px;
  width: 90px;
  margin-left: 40px;
  font-size: 16px;
  color: rgb(116, 116, 116);
}

#a {
  border-color: royalblue;
  background-color: white;
  box-shadow: darkgray;
  float: top;
  height: 40px;
  width: 90px;
  margin-left: 40px;
  font-size: 16px;
  color: rgb(116, 116, 116);
  margin-top: 12px;
}
#b {
  border-color: lightseagreen;
  background-color: white;
  box-shadow: darkgray;
  float: top;
  height: 40px;
  width: 90px;
  margin-left: 40px;
  font-size: 16px;
  color: rgb(116, 116, 116);
  margin-top: 12px;
}
#c {
  border-color: orange;
  background-color: white;
  box-shadow: darkgray;
  float: top;
  height: 40px;
  width: 90px;
  margin-left: 40px;
  font-size: 16px;
  color: rgb(116, 116, 116);
  margin-top: 12px;
}
#d {
  border-color: orangered;
  background-color: white;
  box-shadow: darkgray;
  float: top;
  height: 40px;
  width: 90px;
  margin-left: 40px;
  font-size: 16px;
  color: rgb(116, 116, 116);
  margin-top: 12px;
}
