.portrait-bio-card {
  height: 350px;
  width: 210px;
  background: white;
  box-shadow: 1px 0px 20px 1px grey;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition-duration: 0.9s;
  animation: ease-in-out;
  margin: 20px;
  cursor: pointer;
}

.portrait-bio-card:hover {
  transform: scale(1.15);
}

.portrait-upper-container {
  height: 65%;
  align-items: center;
  align-items: top;
  overflow: hidden;

  background-position: center;
}
.portrait-upper-container img {
  background-position: center;
  width: 210px;
  overflow: hidden;
  transform: translate(0%);
}
.portrait-portrait {
  align-items: center;
  border: none;
  /* overflow: hidden; */
}
.logo-container {
  display: inline-flex;
  /* transform: translate(135%, -65%); */
}
.image-container {
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translate(0%, -45%);
  overflow: hidden;
  align-content: center;
  justify-content: center;
}
#science-image-container {
  border: 4px solid orangered;
}
#technology-image-container {
  border: 4px solid palevioletred;
}
#engineering-image-container {
  border: 4px solid darkblue;
}
#mathematics-image-container {
  border: 4px solid darkgoldenrod;
}

.landing-card {
  background: white;
  padding: 3px;
  border: none;
  align-content: center;
}

.portrait-lower-container {
  margin-top: 0px;
  height: 35%;
  background: white;

  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: top;
}

.portrait-lower-container h3,
h4,
p {
  margin: 0%;
  text-align: center;
}
.portrait-lower-container h3 {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  padding: 0px;
  margin-top: 0px;
}
.portrait-lower-container h4 {
  font-size: 0.8rem;
  font-weight: 800;
}
.portrait-lower-container p {
  margin: 0.3rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
  text-align: center;
}
