.about-detail-fields {
  display: inline-block;
}

h2 .about-field-title {
  text-align: center;
}
.about-field-title {
  font-weight: 700;
  text-align: center;
  margin: 1em 1em;
}

.about-field-value {
  text-align: center;
  margin: 0em;
}
.about-rendered-bio {
  height: auto;
  width: 50%;
  border: 2px solid white;
  background-color: white;
  opacity: 95%;
  margin: 20px auto;
  text-align: center;
  padding: 3%;
  box-shadow: 2px 0px 30px 1px grey;
}
h2 .about-field-title {
  margin-top: 0px;
}
p {
  text-align: center;
}
