@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One:wght@600&display=swap");

.title {
  font-family: "Julius Sans One";
  /* color: #8da47e; */
  color: black;
  font-size: 40px;
  background-color: #d7ecd9;
  padding: 2%;
  margin: 30px auto;
  margin-top: 20px;
  box-shadow: 1px 0px 20px 1px grey;
  width: 90%;
  border-radius: 25px;
}
