.science-bio-card {
  height: 350px;
  width: 210px;
  background: white;
  box-shadow: 1px 0px 20px 1px grey;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition-duration: 0.9s;
  animation: ease-in-out;
  margin: 40px;
  cursor: pointer;
}
/* .landscape-bio-card:hover {
  transform: scale(1.15);
} */
.science-bio-card:hover {
  transform: scale(1.15);
}

.science-upper-container {
  height: 65%;
  align-items: center;
  align-items: top;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-position: center;
}
.science-upper-container img {
  background-position: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.science-portrait {
  align-items: center;
  border: none;
  transform: translate(-25%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.logo-container {
  display: inline-flex;
}
.image-container {
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: translate(00%, -65%);
  overflow: hidden;
  align-content: center;
  justify-content: center;
}
#science-image-container {
  border: 4px solid orangered;
}
#technology-image-container {
  border: 4px solid green;
}
#engineering-image-container {
  border: 4px solid blue;
}
#mathematics-image-container {
  border: 4px solid purple;
}

.landing-card {
  background: white;
  padding: 3px;
  border: none;
  align-content: center;
}

.science-lower-container {
  margin-top: 0px;
  height: 35%;
  background: white;
  text-align: center;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.science-lower-container h3,
h4,
p {
  margin: 0px;
  padding: 0px;
  text-align: center;
  align-items: baseline;
}
.science-lower-container h3 {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  padding: 0px;
  margin-top: 1.8rem;
  /* padding-top: 2rem; */
  /* margin-top: 0px; */
}
.science-lower-container h4 {
  font-size: 0.8rem;
  font-weight: 800;
  color: orangered;
}
.science-lower-container p {
  margin: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
  text-align: center;
}
/* button {
  margin-top: 0rem;
  background-color: white;
  font: bold;
  font-size: 0.7rem;
  padding: 0.4rem;
  border: 1px solid orangered;
  border-radius: 10px;
  transition-duration: 0.5s;
  animation: ease-in-out;
} */
